<h1 align="center"> Anmeldung </h1>

<table border="1" align="center" cellspacing="5" cellpadding="5" style="border-collapse:collapse;">
		<tr>	
			<td bgcolor="grey" align="center"><font color="white"><b>Benutzername</b></td>
			<td bgcolor="grey" align="center"></td>
			<td bgcolor="grey" align="center"></td>
		</tr>
			<% @users.each do |user| %>
		<tr>	
			<td align="center"><%= user.nickname %></td>

		</tr>
		<% end %>
		
	</table>
	
	<h2  align="center">Neuer Benutzer</h2>
	<table align="center">
		<%= form_for @user do |f| %>
			<!-- <p align="center"> -->
		<tr>
			<td align="right"><%= f.label :Benutzername %>:</td> <td><%= f.text_field :nickname %></td>
		</tr>
		<tr>
			<td align="right"><%= f.label :passwort %>:</td> <td><%= f.text_field :password %></td>
		</tr>
		<tr>
			<td align="right"><%= f.label :passwortbestätigung %>:</td> <td><%= f.text_field :password_confirmation %></td>
		</tr>
		<tr>
			<td></td><td><%= f.submit "Save" %></td>
		</tr>
			<!-- </p> -->
		<% end %>
	</table>