<h1 align="center"> Anmeldung </h1>

<table border="1" align="center" cellspacing="5" cellpadding="5" style="border-collapse:collapse;">
		<tr>	
			<td bgcolor="grey" align="center" colspan="5"><font color="white"><b>Angelegte Benutzer</b></td>
		</tr>
		<tr>
			<!-- Die User sollen in einer Tabelle mit 5 Spalten dargestellt werden -->
			<!-- Nach jeweils 5 Spalten wird eine neue Zeile erstellt. -->
			<% spalte = 0 %> 	
			<% @users.each do |user| %>
				<% if spalte%5 != 0 then %>
					<td align="center"><%= user.nickname %></td>
				<% else %>
						</tr>
						<tr>
						<td align="center"><%= user.nickname %></td>
				<% end %>
				<% spalte = spalte + 1 %>
		<% end %>
		</tr>
	</table>
	
	<h2  align="center">Neuer Benutzer</h2>
		<p  align="center">Hinweis: Das Passwort muss aus mindestens 6 Zeichen bestehen.</p>

	<table align="center">
		<%= form_for @user do |f| %>
		<tr>
			<!-- In der folgenden Zelle werden alle Fehler ausgegeben. -->
			<td colspan="2">
				<%= @hinweis %>
				<font color="red"><% @user.errors.full_messages.each do |msg|%>
					<%= msg %>.
				<% end %>
				</font>
			</td>
		</tr>	
		<tr>
			<td align="right"><%= f.label :Benutzername %>:</td> <td><%= f.text_field :nickname %></td>
		</tr>
		<tr>
			<td align="right"><%= f.label :passwort %>:</td> <td><%= f.text_field :password %></td>
		</tr>
		<tr>
			<td align="right"><%= f.label :passwortbestätigung %>:</td> <td><%= f.text_field :password_confirmation %></td>
		</tr>
		<tr>
			<td></td><td><%= f.submit "Save" %></td>
		</tr>
			<!-- </p> -->
		<% end %>
	</table>