<!DOCTYPE html>
<html>
<head>
  <title>Lectures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 

<p align="center">

<%= link_to"Anmelden",signup_path %>
<%= link_to"Dozenten",lecturers_path %>
<%= link_to"Vorlesungen",lectures_path %>

</p>

<%= yield %>

</body>
</html>
